:root {
  --line-h: 1.5;
  --height: 1.5em;
  --margin: calc(var(--height)*1);
  --padding: calc(var(--height)*1);
}


*, * > * {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100%;
  display: flex;
}


h1, h2, h3, h4, p {
  font-weight: 100;
}

p {
line-height: var(--line-h);
}

.sticky {
  position: sticky;
  top: 0;
}

.margin {
  margin-block: var(--padding);
}

.padding {
  padding-block: var(--padding);
}


.container {
  width: 90%;
  margin-inline: auto;
  min-width: 300px;
}

.header {
  margin-inline-start: auto;
  width: min-content;
  order: 3;
}

.navigation {
  height: 100%;
  display: flex;
}


.nav-link  {
  padding: 60px 5px;
  font-family: sans-serif;
  min-width: 60px;
  width: 60px;
  position: relative;
  cursor:   pointer;
}

.nav-link .sticky {
    position: sticky;
    top: 50vh;
  }

.nav-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
  text-decoration: none;
}

.community {
  background-color: orange;
}
.retail {
  background-color: tomato;
}
.food {
  background-color: lightskyblue;
}

main {
  order: 2;
}

.logo {
  width: 60px;
}

.h1 {
  display: flex;
  flex-direction: column-reverse;
}

.h1 h1 {
    font-size: clamp(2em, 10vh, 8em);
    max-width: 4em;
  }

  .hero {
	background-image: url("https://images.prismic.io/canalstreetmarket/1d99cf0e3a0144c1229f92ee5b3c63b0eaae893c_home-hero.jpg?auto=compress,format");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 60vh;

  }

  .h1 p {
    font-size: clamp(1em, 8vh, 4em);
    max-width: 10em;
  }
