*, * > * {
  margin: 0;
  padding: 0;
}

body, .navigation {
  display: flex;
  flex-direction: row-reverse;
}

.header {
  margin-inline-start: auto;
}

.nav-link  {
  min-height: 100vh;
  height: 100%;
  padding: 60px 5px;
  font-family: sans-serif;
  min-width: 60px;
  width: 60px;
  position: relative;
  cursor:   pointer;


}

.nav-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
  text-decoration: none;
}

.community {
  background-color: orange;
}
.retail {
  background-color: tomato;
}
.food {
  background-color: lightskyblue;
}

